.ar-image {
    width: 70%;
    height: auto;
}

.ar-title-con {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #008cff;
    margin: 10px;

}

.ar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ar-passage {
    padding: 20px;
    margin-top: 10px;
    border-top: 1px solid #008cff; 
}

