.ar-image {
    width: 70%;
    height: auto;
}

.ar-title-con {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #008cff;
    margin: 10px;

}

.ar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ar-passage {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 70px;
    border-top: 1px solid #008cff; 
}

.ar-back-button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #008cff;
    color: white;
    margin: 20px 10px;
    text-decoration: none;
    border: none;
    position: fixed;
    bottom: 50px;
    &.articlemenu{
        left: 0;
        z-index: 10;
    }
    &.search{
        right: 0;
    }
}