.buppan-title {
    width: 100%;
}

.buppan-description-con {
    width: 90%;
    margin: 10px 5% 20px;
}

.buppan-description {
    font-size: 19px;
    text-align: center;
}

.spacer {
    height: 30px;
}