.app-title {
    display: flex;
    align-items: center;
    padding: 0 5%;
    text-decoration: none;
    color: inherit;
}

.hamburger {
    font-size: 40px;
    position: absolute;
    left: 5%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.hamburger img {
    height: 30px;
    width: 30px;
}

.app-title img {
    width: 48px;
    height: 48px;
}

.app-title-con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;

}

.header-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.app-title-con span {
    font-size: 2rem;
    vertical-align: auto;
    /* ← ベースラインではなく中央揃え */
}

.app-title-con h3 {
    padding: 0 5%;
    padding-bottom: 8px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    width: 50vw;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.973);
    box-shadow: 0px -2px 6px -3px;
    border-radius: 0 10px 10px 0;
}

.hamburger-menu-tab {
    color: black;
    text-decoration: none !important;
    margin: 10px 5px;
}

.hamburger-menu>a:not(:last-child) {
    margin-bottom: 10px;
}

.hamburger-attention-con {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.336);
}