.info-wrapper {
    white-space: pre-line;
}

.info-wrapper .info {
    margin: 0 5% 50px 5%;
    max-width: 720px;
    width: 90%;
    background-color: #ffe7f9;
    border-radius: 20px;
    padding: 8px 12px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.05);
    & h2 {
        margin-left: 0px;
    }
}

.info-wrapper .info:last-child {
    margin-bottom: 40px;
}