.input-box {
    width: 80%;
    margin: 20px;
    padding: 10px;
    border: none;
    border: 1px solid #008cff;
    border-radius: 10px;
}
.login-con {
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: #008cff;
    border: none;
    border-radius: 10px;
    margin: 20px;
}

.ad-button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #008cff;
    color: white;
    margin: 20px 10px;
    text-decoration: none;
    border: none;
}

.ad-con {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back-button {
    position: fixed;
    bottom: 60px;
    right: 0;

}
.news-box {
    font-size: 12px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #008cff;
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 5px;
    
    
}

.delete-button {
    border: none;
    color: white;
    background-color: #ff0000;
    padding: 7px;
    font-size: 14px;
    font-weight: 550;
    
}

.news-list-con {
    margin: 20px 0;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.news-list-con h3 {
    margin: 10px;
}

.add-news-con {
    width: 100%;
    margin: 10px 0;
    padding: 0 3%;
    display: flex;
}

.input-news {
    font-size: 12px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #008cff;
    background-color: rgb(255, 255, 255);
    padding: 5px;

}

.add-button {
    border: none;
    color: white;
    background-color: #008cff;
    width: 15%;
    padding: 7px;
    font-size: 14px;
    font-weight: 550;
}

.add-news-con-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}