:root {
    --multiplier-h: 2;
    --multiplier-w: 1.2;
    --last-modify: 50px;
    /* 60px 以下で */
}

.schedule-page-con {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden; 

    display: flex;
    align-items: flex-start;
    padding-left: 55px;
    padding-right: 55px;


    /* scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;  */
}

.schedule-page-con-con {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;

    /* スナップを有効化 */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.schedule-con {
    position: relative;
    height: auto;
    width: calc(260px * var(--multiplier-w));
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(253, 202, 255, 0.342);
}

.sc-con-sat {
    height: calc((600px - var(--last-modify)) * var(--multiplier-h));
}

.sc-con-sun {
    height: calc((840px - var(--last-modify)) * var(--multiplier-h));
}


.sc-con-stage {
    background-color: rgba(253, 202, 255, 0.164);
}

.row-border-now-con {
    position: absolute;
    /* もしくは relative で親を基準に */
    width: 100%;
    height: 100%;
    top: 0;
    /* schedule-page-con の先頭を基準に */
    z-index: 1;
    /* 赤線は下 */
}

.row-border-now {
    position: absolute;
    &.basis {
        width: calc(260px * 2 * var(--multiplier-w) + 1px);
    }
    &.left {
        width: calc(260px * var(--multiplier-w) - 0px);
    }
    &.right {
        width: calc(260px * var(--multiplier-w) + 1px);
    }
}

.current-time-display h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.timesheet .current-time-h4 {
    position: absolute;
    /* 赤線と同じスケールに沿って配置 */
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(82, 94, 255);
    background-color: rgba(210, 236, 255, 0.8);
    border-radius: 3px;
    z-index: 10;
    /* 赤線より上 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.timesheet .current-time-delay {
    position: absolute;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
    color: red;
    border-radius: 3px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}


.current-time-h4,
.row-border-now,
.row-border-now-con,
.current-time-delay,
.current-time-fixed-display {
    pointer-events: none;
}

.timesheet {
    z-index: 4;
    /* h4より上*/
    /* displaydetailより下 */
    background-color: rgb(255, 255, 255);
}

.timesheet.left {
    position: absolute;
    left: 0;
    border-right: 5px solid black;
}

.timesheet.right {
    position: absolute;
    /* ← stickyじゃなくてabsoluteにする */
    top: 0;
    right: 0;
    border-left: 5px solid black;
}

.timesheet h1 {
    width: 50px;
    font-size: 30px;
    height: calc(40px * var(--multiplier-h));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(80px * var(--multiplier-h));

}

.row-border-con {
    position: absolute;
}

/*  139 = 46.33 * 3  */
.row-border {
    margin-top: calc(19.5px * var(--multiplier-h));
    margin-bottom: calc((59px - 19.5px) * var(--multiplier-h));
    width: calc(620px + 50px);
}

.row-border.main {
    border: 1px solid rgb(0, 0, 0, 1);
}

.row-border.sub {
    border: 1px solid rgb(200, 200, 200)
}

/* timesheet の最後の時間だけ 下側を減らす */
.timesheet h1:last-of-type {
    margin-bottom: calc((80px - var(--last-modify)) * var(--multiplier-h));
}

/* 仕切り線の最後の margin-bottom も同様に減らす */
.row-border-con .row-border:last-of-type {
    margin-bottom: calc(min(0px, (58px - var(--last-modify)) * var(--multiplier-h)));
}

.schedule-box {
    padding-left: calc(2px * var(--multiplier-w));
    padding-right: calc(2px * var(--multiplier-w));
    width: calc(250px * var(--multiplier-w));
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
}

.group-name {
    color: rgb(8, 0, 122);
}

.group-time {
    font-size: 14px;
    /*少し大きくした*/
}

.schedule-page {
    position: relative;

    align-items: flex-start;


    padding-top: 60px;
}


.kodo-or-stage {

    z-index: 50;
    width: 200%;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
}

.ko-or-st-con {
    z-index: 50;
    margin: 10px 0;
    position: fixed;
    top: 78px;
    left: 0;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.kodo-button {
    background-color: #ffffff;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.425);
    font-weight: 400;
    width: 100%;
    border: none;
    border-radius: 20px;
}

.kodo-button.active {
    background-color: #008cff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
}

/* .stage-button {
    background-color: white;
    font-size: 25px;
    color: #000000;
    font-weight: 550;
    width: 100%;
    border: none;
    border-radius: 0 20px 20px 0;
} */


.sc-day-con {
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;

}

.sc-day-con h2 {
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: blue;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.075);

}

.sc-day-con.sun h2 {
    text-align: center;
    width: 100%;
    color: rgb(255, 0, 0);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.075);

}


.schedule-page {
    position: relative;
}

.page-changer {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 10;
    margin: 12px;
    font-size: 20px;
    padding: 10px;
    background-color: #008cff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.781);
}

.current-time-fixed-display {
    position: fixed;
    left: 0;
    bottom: 60px;
    z-index: 10;
    width: 42px;
    margin: 5px 4px;
    font-size: 12px;
    text-align: center;
    /*writing-mode: vertical-rl;/**/
    /*text-orientation: upright;/**/
    padding: 6px;
    background-color: rgb(120, 200, 255);
    color: rgb(8, 0, 122);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.row-con {
    display: flex;
    padding: 5px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    position: relative;
    border: none;
    background-color: transparent;
}

.row-con::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white, transparent), var(--bg-image);
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
    border-radius: 10px;
}

.time-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-left: 3px;
    width: 60px;
    height: 93px;
    gap: 8px;
    background-color: #008cff;
    justify-content: center;
    padding: 0 5px;
    color: #ffffff;
    font-weight: 550;
}

.hidden {
    pointer-events: none;
}