.search-wrap {
    display: flex;
    margin: 90px 10px 10px 10px;
    justify-content: space-between;
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
}

.search-box2 {
    font-size: 15px;
    padding: 10px 15px;
    flex-grow: 1;
    border: none;
    background: transparent;
}

.search {
    padding: 5px 12px 5px 8px;
    border: none;
    border-left: 1px solid gray;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    &:active {
        background-color: rgb(181, 181, 181);
    }
}

.filter-wrap {
    margin: 10px;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.filter-list {
    width: max-content;
}

.filter {
    border: 1px solid #008cff;
    background-color: #008cff;
    color: white;
    padding: 5px 10px;
    border-radius: 18px;

    &:not(:last-child) {
        margin-right: 5px;
    }
}

.filter.inactive {
    color: #008cff;
    background-color: white;
}

.first-filter {
    border: 1px solid gray;
    background-color: white;
    color: black;
}

.content {
    margin: 10px;
}

.tabs {
    margin-left: 10px;
}

.tab {
    padding: 10px;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: whitesmoke;

    &.active {
        background-color: #008cff;
        color: white;
    }

    &:not(:last-child):not(:first-child) {
        margin-left: 5px;
    }
}

.tickets {
    padding: 10px;
    background-color: white;
}

.ticket {
    position: relative;
    display: grid;
    margin: 10px 0px;
    grid-template-columns: 6% 64% 30%;
    grid-template-rows: 20px calc(100% - 50px) 30px;
    align-items: center;
    background-position: 50% 30%;
    background-size: cover;
    border: 0px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 11px -5px;
    z-index: 1;
}

.ticket::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,white,transparent),url("pictures/sample.jpg");
    background-size: cover;
    background-position: 50% 30%;
    opacity: 0.5;
    z-index: -1;
    border-radius: 5px;


}

.ticket.hidden {
    display: none;
}

.proj-type {
    width: 100%;
    grid-row: 1 / 4;
    margin: auto;
    padding: 15px 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;



    &.p0,
    &.p1 {
        background: rgb(157, 232, 255);
    }

    &.p0,
    &.p1 {
        background: rgb(125, 207, 255);
    }

    &.p7 {
        background: rgb(160, 255, 176);
    }

    &.p8 {
        background: rgb(204, 173, 255);
    }

    &.p9 {
        background: rgb(253, 191, 255);
    }
}

.type {
    width: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.class {
    margin-left: 10px;
    margin-top: 5px;
}

.title {
    grid-row: 2 / 2;
    margin-left: 10px;
    font-size: 22px;
    font-weight: bold;
}

.categories-wrap {
    grid-row: 3 / 3;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.categories {
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
}

.category {
    padding: 0px 5px;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 25px;
}

.ticket-right {
    grid-column: 3;
    grid-row: 1 / 4;
    border-left: 1px dashed black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4px 8px;
}

.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.favorite {
    font-size: 25px;
    background-color: transparent;
    border: none;
}

.category-popup-wrap {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.402);
}

.cpw-margin1 {
    width: 10%;
    height: 100%;
}

.category-popup-wrap2 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cpw-margin2 {
    width: 100%;
    flex-grow: 0.5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    color: white;
}

.category-popup {
    width: 100%;
    padding: 10px;
    background-color: white;
    pointer-events: all;
    border-radius: 10px;
}

.category-popup-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-popup-categories > button {
    width: calc(50% - 5px);
    margin-bottom: 5px;
}